<div class="content">
    <div class="card">
        <div class="top-options">
            <div class="page-tittle">
                Dados de usuários
            </div>

            <div class="top-btns">
                <div class="btn">
                    <div class="btn-name">
                        Agendamentos
                    </div>
        
                    <img class="btn-icon" src="../../../assets/icons/calendar.svg">
                </div>
    
                <div class="btn btn-medium">
                    <div class="btn-name">
                        Vacinações
                    </div>
        
                    <img class="btn-icon" src="../../../assets/icons/journals.svg">
                </div>
            </div>
        </div>
        
        <div class="columns">
            <div class = "column">

                <div class="section">
                    <div class="section-name">
                        Dados gerais:
                    </div>
                    <div class="section-content">

                        <div class="field">

                            <div class="field-tittle">
                                Id:
                            </div>
                
                            <div class="field-box btn-number">
                
                                <div class="field-content">
                                    1000
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Nome:
                            </div>
                
                            <div class="field-box">
                
                                <div class="field-content">
                                    Loriundodod
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Sobrenome:
                            </div>
                
                            <div class="field-box">
                
                                <div class="field-content">
                                    Loriundodod
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Idade:
                            </div>
                
                            <div class="field-box btn-number">
                
                                <div class="field-content">
                                    102
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Email:
                            </div>
                
                            <div class="field-box btn-email">
                
                                <div class="field-content">
                                    aaaaa@aaaa.aaa.aa.com
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>


                        <div class="field">

                            <div class="field-tittle">
                                Cpf:
                            </div>
                
                            <div class="field-box btn-cpf">
                
                                <div class="field-content">
                                    000.000.000-00
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>
                    </div>    
                </div>

                <div class="section">
                    <div class="section-name">
                        Endereço:
                    </div>
                    <div class="section-content">

                        <div class="field">

                            <div class="field-tittle">
                                Cidade:
                            </div>
                
                            <div class="field-box btn-cidade">
                
                                <div class="field-content">
                                    csdsisdkisdjsijisdji
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Cep:
                            </div>
                
                            <div class="field-box btn-cep">
                
                                <div class="field-content">
                                    00000-000
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Rua:
                            </div>
                
                            <div class="field-box btn-rua">
                
                                <div class="field-content">
                                    Rua loren ipsuln dolor oliveira
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Número:
                            </div>
                
                            <div class="field-box btn-number">
                
                                <div class="field-content">
                                    102
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Bairro:
                            </div>
                
                            <div class="field-box btn-bairro">
                
                                <div class="field-content">
                                    asasasasassas
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                    </div>    
                </div>
            </div>

            <div class = "column">

                <div class="check-box">
            
                    <div class="check-box-tittle">
                        Permissões:
                    </div>
        
                    <div class="check-box-options">
                        <div class="check-box-option">
        
                            <div class="check-box-option-icon"></div>
                            <div class="check-box-option-name">
                                Cliente
                            </div>
                        </div>
        
                        <div class="check-box-option">
                            <div class="check-box-option-icon-marked"></div>
                            <div class="check-box-option-name">
                                Gpv
                            </div>
                        </div>
        
                        <div class="check-box-option">
                            <div class="check-box-option-icon"></div>
                            <div class="check-box-option-name">
                                Admin
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="section">
                    <div class="section-name">
                        Dados gerais:
                    </div>
                    <div class="section-content">

                        <div class="field">

                            <div class="field-tittle">
                                Id:
                            </div>
                
                            <div class="field-box btn-number">
                
                                <div class="field-content">
                                    1000
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="field">

                            <div class="field-tittle">
                                Nome posto:
                            </div>
                
                            <div class="field-box btn-nome-posto">
                
                                <div class="field-content">
                                    Loren ipsuln dolor 
                                </div>
                
                            </div>
                
                            <div class="error-message"> 
                                error
                            </div>
                
                        </div>

                        <div class="btn-selector">
                            <div class="btn-selector-name">
                                Seleção de posto
                            </div>
                
                            <div class="btn-selector-icon">
                            </div>
                        </div>
                       
                    </div>    
                </div>
                
            </div>
        </div>

        <div class="bottom-options">
            <div class="btn save">
                <div class="btn-name">
                    Salvar
                </div>
    
                <img class="btn-icon" src="../../../assets/icons/check.svg">
            </div>

            <div class="btn cancel">
                <div class="btn-name">
                    Cancelar
                </div>
                <img class="btn-icon" src="../../../assets/icons/cancel.svg">
            </div>
        </div>

    </div>
</div>



