.post-data{
    position: absolute;
    top: 32%;
    left: 66px;

    font-family: Baskervville;
    
}

p{
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
}

span{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #585858;

}