@media screen and (max-width: 700px) {
    .select-city{
        position: absolute;
        right: 10%;
        top: 21%;
        bottom: 0%;
        width: 175px;
        height: 38px;
        display: flex;

        background: #FFFFFF;
        border: 1px solid #262626;
        box-sizing: border-box;
        border-radius: 10px;
    }
}