<div class="schedule-container">
    <h3>Agendamento</h3>
    <div class="calendar-container">
        <div class="calendar">

        </div>
        <div class="slot-container">
            <h3>Escolha de Slot:</h3>
            <div class="option-buttons">
                <button>8H - 9H</button>
                <button>10H - 12H</button>
                <button>14H - 15H</button>
                <button>15H - 16H</button>
                <button>17H - 18H</button>
            </div>
        </div>
        <div class="schedule-button">
            <a>
                <img src="../../../assets\icons\event_available_white_24dp.svg" alt="icon">
                <div>Agendar</div>
            </a>
        </div>

    </div>
</div>  