<div class="box">

    <div class="tittle">
        VaciniMim
    </div>


    <div class="user-menu">
        <div *ngIf="!tinyScreen && showOption " class="options-list">
            
            <div (click)="goToPage(option)" class="option" *ngFor="let option of options.paths">
                {{ option.str }}
            </div>
        </div>

        <div *ngIf="tinyScreen && showOption" class="card-options-list">
            <div (click)="goToPage(option)" class="option" *ngFor="let option of options.paths">
                {{ option.str }}
            </div>
        </div>

        <div (click)="onClickMenu()" class= "menu-btn">
            <span *ngIf="!showOption" class="menu-bar-icon"></span>
            <span *ngIf="showOption" class="rotated-menu-bar-icon"></span>
        </div>
    </div>
</div>