<div class="content">
    
    <app-lateral-bar class="lateral-bar"></app-lateral-bar>        
    
    <div class="vertical">
        <app-topbar class="top-bar"></app-topbar>
    </div>

    <app-card [title]="title"></app-card>

    <select class="select-city" name="form-postos" id="cidade">
        <option *ngFor="let city of listCities; let i = index" value="">{{ listCities[i] }}</option>
    </select>
    
    <div class="posts-list">
        <ul>
            <li class="post-card" *ngFor="let post of listPosts; let i = index">
                <app-card-listing
                    *ngIf="listPosts[i].disponivel"
                    [title]="listPosts[i].nome"
                    [subtitle]="listPosts[i].endereco"
                    [info1]="pathCheck"
                    [info2]="listPosts[i].cep"
                    [imagem]="true"
                >
                </app-card-listing>
                <app-card-listing
                    *ngIf="listPosts[i].disponivel === false"
                    [title]="listPosts[i].nome"
                    [subtitle]="listPosts[i].endereco"
                    [info1]="pathNotCheck"
                    [info2]="listPosts[i].cep"
                    [imagem]="true"
                >
                </app-card-listing>
            </li>
        </ul>
    </div>
</div>

<router-outlet name="standart"></router-outlet>

