.lateral-bar {
    width: max(16%, 235px)
}

.vertical {
    display: flex;
    flex-direction: column;
    width: calc(100% - max(16%, 235px));
    max-width: calc(100% - max(16%, 235px));
}

@media screen and (max-width: 700px) {

    .select-city{
        position: absolute;
        right: 10%;
        top: 32%;
        bottom: 0%;
        width: 175px;
        height: 38px;
        display: flex;

        background: #FFFFFF;
        border: 1px solid #262626;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .lateral-bar {
        z-index: 1;
        position: absolute;
    }

    .vertical {
        width: 100%;
        max-width: 100%;
    }
    
    div.posts-list{
        position: absolute;
        
        min-width: 84%;
        left: 32px;
        top: 40%;
    }
    
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li.post-card{
       margin-top: 10px;
    }


   
}