@import '~roboto-fontface/css/roboto/roboto-fontface.css';

/* You can add global styles to this file, and also import other style files */

:root {

    /* Primary means that be present in most of time*/
    /* blue is a lighter than blue-2*/

    --c-blue-primary:#29B6F6;
    --c-white-primary:#FFFFFF;
    --c-blue-2-primary: #03A9F4;
    --c-black-primary: #383838;

    --c-green:#64DD17;
    --c-green-2: #00C853;

    --c-red:#FF8A80;
    --c-red-2: #FF1744;

    --c-blue: #03A9F4;
    --c-blue-marker: #3C80F1;


    --c-blue-gray: #7E9FBD;
    --c-blue-gray-2: #6187C8;
    --c-blue-gray-3: #5373A8;
    
    --c-gray-border-topbar: #CBCBCB;

    --c-gray-card-border: #E0E0E0;
    --c-gray-card-border-2: #9C9A9A;
    --c-gray-card-border-3: #383838;

    --c-gray-popup-border: #575656;
    --c-gray-popup-border-2: #555555;

    --c-gray-popup-fill: #F8F8F8;

    --c-gray-text: #585858;
    --c-black-text: #1D1D1D;


    --c-black-field-border: #252525;
    --c-black-field-text-content: #262626;
    --c-gray-field-text-tittle: #5C5C5C;

    --c-gray-field-light-border: #5C5C5C;
    --c-gray-field-light-text-content: #6C6F72;

    --c-black-table-text: #262626;

    --c-blue-check-box-marker: rgba(60, 128, 241, 0.69);


    --primary-font: Garamond, Georgia, serif;

    --secondary-font: Roboto, Helvetica, Arial, sans-serif;

    --height-topbar: max(9vh, 64px);
}


body {
    margin: 0;
    padding: 0;
}


.field-tittle {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 21px;
    color: var( --c-gray-field-text-tittle);
    margin-bottom: 4px;
}

.field-box {
    width: 125px;
    height: 38px;
    margin-left: 9px;
    border: 1px solid var(--c-black-field-border);
    box-sizing: border-box;
    border-radius: 10px;
    

}

.field-content {
    
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    
    color: var( --c-black-field-text-content); 
    
    margin-left: 13px;
    margin-top: 9px;
}

.error-message {
    
    font-family: var(--primary-font);
    font-size: 16px;
    color: var( --c-red-2 );

    margin-left: 14px ;
}




.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 193px;
    height: 41px;
    background: var(--c-blue-primary);
    border: 1px solid var(--c-white-primary);
    box-sizing: border-box;
    border-radius: 20px;
    padding-top: 7px;
    padding-left: 18px;
}

.btn-name {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    color: var(--c-white-primary);
}

.btn-icon {
    margin-top: 4px;
    margin-right: 17px;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}

            
.check-box-tittle {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: var( --c-black-field-text-content); 

}

.check-box-options {
    margin-top: 18px;
}

.check-box-option {
    display: flex;
    flex-direction: row;
    margin-left: 18px;
    margin-bottom: 6px;
}

.check-box-option-icon {
    background: var(--c-white-primary);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.5px solid var(--c-black-field-border);
}

.check-box-option-icon-marked {
    background:  var(--c-blue-check-box-marker);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.5px solid var(--c-black-field-border);
}

.check-box-option-name {

    margin-left: 12px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: var( --c-black-field-text-content); 

}




.btn-selector {
    width: 186px;
    height: 38px;   
    border: 1px solid var(--c-black-field-border);
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
}

.btn-selector-name {


    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: var(--c-black-field-text-content);

    margin-top: 8px;
    margin-left: 12px;
}

.btn-selector-icon {

    margin-top: 5px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-image: url("./assets/icons/selector.svg");
    background-size: contain;
    background-repeat: no-repeat;
}