.post-data{
    position: absolute;
    top: 25%;
    left: 66px;

    font-family: Baskervville;
    
    margin-left: max(16%, 235px);
}


p{
    font-size: 20px;
    font-style: bold;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
}

span{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #585858;

}

.bottom-options{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 60px;
    margin-left: 60px;
}

.btn {
    margin-top: 40px;
}

.add {
    padding-top: 7px;
    width: 215px;
    margin-left: 20px;
    width: 161px;
    padding-left: 18px;
    height: 56px;

}


.btn-icon {
    margin-top: 8px;
    width: 23px;
    height: 23px;
}

.btn-name {
    margin-top: 7px;
    margin-right: 50px;
}




@media screen and (max-width: 700px) {

    .post-data{
        top: 32%;
        margin-left: 0px;
    }
}