<div class="content">

    <div class="card">
        <div>
            <div class="card-name">
                Redefinir Senha
            </div>

            <div *ngIf="showSucessMensage" class="sub-card">
                <p class="p">
                    Senha redefinida com sucesso !
                </p>
    
                <div (click)="goToLogin()" class="submit-btn">
                    <p>
                        Log-in
                    </p>
                </div>
            </div>

            <div class="card-text">
                Preencha os campos abaixo, para redefinir sua senha.
            </div>

            <div class="form-content">
                <form [formGroup]="form">

                <div class="field">
                    <div class="field-tittle"> Digite sua nova senha: </div>
                    <input formControlName="password" class="field-box tiny-field">
                    <div *ngIf="hasErrorWith(form,'password', 'required')" class="error-message"> *Campo necessário</div>

                </div>

                <div class="field">
                    <div class="field-tittle"> Confirme sua nova senha: </div>
                    <input formControlName="passwordConfirm" class="field-box tiny-field">
                    <div *ngIf="hasErrorWith(form,'passwordConfirm', 'required')" class="error-message"> *Campo necessário</div>
                    <div *ngIf="erroProcesso" class="error-message"> *Erro na solicitação</div>
                    <div *ngIf="erroIgual" class="error-message"> *Campos devem ser iguais</div>
                </div>
                </form>
            </div>

            <div (click)="onSubmit()" class="submit-btn">
                <p>
                    Redefinir
                </p>
            </div>
        </div>

        <div (click)="goToLogin()" class="forgot">
            Cancelar
        </div>
    </div>
</div>