<div class="content">

    <div class="card">
        <div>
            <div class="card-name">
                Esqueci minha senha
            </div>

            <div *ngIf="showSucessMensage" class="sub-card">
                <p class="p">
                    Email enviado com sucesso !
                </p>
    
                <div (click)="goToLogin()" class="submit-btn">
                    <p>
                        Log-in
                    </p>
                </div>
            </div>

            <div class="card-text">
                Para redefinir sua senha, informe o e-mail cadastrado e lhe enviaremos um link com instruções.
            </div>

            <form [formGroup]="form">
                <div class="form-content">
                    <div class="field">
                        <div class="field-tittle"> Email: </div>
                        <input formControlName="email" class="field-box tiny-field">
                        <div *ngIf="hasErrorWith(form,'email', 'required')" class="error-message"> *Campo necessário</div>
                    </div>
                </div>
            </form>

            <div (click)="onSubmit()" class="submit-btn">
                <p>
                    Enviar
                </p>
            </div>
            
        </div>

        <div (click)="goToLogin()" class="forgot">
            Cancelar
        </div>
    </div>
</div>