<div class="content">
    
    <app-lateral-bar class="lateral-bar"></app-lateral-bar>        
    
    <div class="vertical">
        <app-topbar class="top-bar"></app-topbar>
    </div>

    <app-card [title]="title"></app-card>

    <div class="data-list">

        <div class="info-schedule">
            <input type="text"value={{schedule.posto}}>
            <label class="label-input" for="">Nome posto:</label>
        </div>

        <div class="info-schedule">
            <input type="text"value={{schedule.posto}}>
            <label class="label-input" for="">Nome posto:</label>
        </div>

    </div>

    
</div>

<router-outlet name="standart"></router-outlet>

