.field-content{
    width: 87%
}

.info-schedule{
    padding-left: 13px;
    padding-top: 10px;
}

.label-input{
    font-family: Baskervville;
    font-size: 16px;
    line-height: 21px;

    color: #5C5C5C;
}

.btn2{
    margin-left: 19.93px;
}

button{
    width: 125.07px;
    height: 35px;
    margin-top: 23px;
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 20px;
}

.pop-up{
    position: absolute;
    min-width: 80%;
    height: 176px;
    left: 38px;
    top: 165px;
    
    background: #F8F8F8;
    border: 1px solid #383838;
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 1;

    display: flex;
    justify-content: center;
}

.pop-up h1{
    font-family: Baskervville;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    padding-top: 17px;

    color: #1D1D1D;   
}

.pop-up p{
    position: absolute;
    width: 154px;
    height: 28px;
    left: 13px;
    top: 65px;

    font-family: Baskervville;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #5C5C5C;
}

.pop-up .info{
    position: absolute;
    min-width: 85%;
    height: 38px;
    left: 26px;
    top: 92px;

    background: #ffff;
    border: 1px solid #383838;
    box-sizing: border-box;
    border-radius: 8px;
}

.info p{
    left: 13px;
    top: 9px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #262626;
   
}