.data-list{
    position: absolute;
    width: 81%;
    left: 32px;
    top: 27%;
}

.field-content{
    width: 87%
}

.info-schedule{
    padding-left: 13px;
    padding-top: 10px;
}

input{
    height: 38px;
    padding: 13px;
    
    border: 1px solid #252525;
    box-sizing: border-box;
    border-radius: 10px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.label-input{
    font-family: Baskervville;
    font-size: 16px;
    line-height: 21px;

    color: #5C5C5C;
}