<div class="content">
    <div class="card">
        <div class="top-options">
            <div class="page-tittle">
                Dados de usuários
            </div>

        </div>
        

            <div class="columns">
                <div class = "column">
    
                    <div class="section">
                        <div class="section-name">
                            Dados gerais:
                        </div>
                        <form [formGroup]="userDataForm">
                            <div class="section-content">
                                <div class="field">
                                    <div class="field-tittle"> Nome: </div>
                                    <input formControlName="nome" class="field-box">
                                </div>
        
                                <div class="field">
                                    <div class="field-tittle"> Email: </div>
                                    <input formControlName="email" class="field-box large-field">
                                </div>
        
        
                                <div class="field">
                                    <div class="field-tittle"> Cpf: </div>
                                    <input formControlName="cpf" class="field-box">
                                </div>
                            </div>    
                        </form> 
                    </div>

                    <div *ngIf="!!firstRegistro" class="section">
                        <div class="section-name">
                            Primeira dose:
                        </div>
    
                        <div class="section-content">
                            <div class="field">
                                <div class="field-tittle"> Id slot: </div>
                                <input [value]="firstRegistro.slotId" class="field-box tiny-field" disabled> 
                            </div>
    
                            <div class="field">
                                <div class="field-tittle"> Vacina: </div>
                                <input [value]="firstRegistro.name" class="field-box" disabled>
                            </div>

                            <div class="field">
                                <div class="field-tittle"> Data vacinação: </div>
                                <input [value]="firstRegistro.date" class="field-box large-field" disabled>
                            </div>
                        </div>    
                    </div>

                    <div *ngIf="secondRegistro" class="section">
                        <div class="section-name">
                            Segunda dose:
                        </div>
    
                        <div class="section-content">
                            <div class="field">
                                <div class="field-tittle"> Id slot: </div>
                                <input [value]="secondRegistro.slotId" class="field-box tiny-field" disabled> 
                            </div>
    
                            <div class="field">
                                <div class="field-tittle"> Vacina: </div>
                                <input [value]="secondRegistro.name" class="field-box" disabled>
                            </div>

                            <div class="field">
                                <div class="field-tittle"> Data vacinação: </div>
                                <input [value]="secondRegistro.date" class="field-box large-field" disabled>
                            </div>
                        </div>    
                    </div>

                    <div *ngIf="agendamentoUser" class="section">
                        <div class="section-name">
                            {{agendamentoUser.n}}º Agendamento:
                        </div>
    
                        <div class="section-content">
                            <div class="field">
                                <div class="field-tittle"> Id slot: </div>
                                <input [value]="agendamentoUser.slotId" class="field-box tiny-field" disabled> 
                            </div>

                            <div class="btn cancel2 large-field" (click)="cancelarAgendamento()">
                                <div class="btn-name">
                                    Cancelar agendamento
                                </div>
                                <img class="btn-icon" src="../../../assets/icons/cancel.svg">
                            </div>
                        </div>    
                    </div>

                </div>
            </div>
    
            <div  *ngIf="userDataForm.dirty" class="bottom-options">
                <div class="btn save" (click)="submitForm()">
                    <div class="btn-name">
                        Salvar
                    </div>
        
                    <img class="btn-icon" src="../../../assets/icons/check.svg">
                </div>
    
                <div class="btn cancel" (click)="cancelFormSubmition()">
                    <div class="btn-name">
                        Cancelar
                    </div>
                    <img class="btn-icon" src="../../../assets/icons/cancel.svg">
                </div>
            </div>
        

    </div>
</div>



