<div class="card-content" *ngIf=imagem>

    <div class="top-content">
        <p class="title-card-listing">{{ title }}</p>
        <img class="info1" src="{{ info1 }}">
        <img class="marker" src="../../../assets/icons/Marker.svg">
    </div>

    <div class="botton-content withImage">
        <p class="subtitle">{{ subtitle }}</p>
        <p class="info2">{{ info2 }}</p>
    </div>
    
</div>

<div class="card-content" *ngIf=!imagem>

    <div class="top-content {{ info1 }}">
        <p class="title-card-listing">{{ title }}</p>
        <img class="marker" src="../../../assets/icons/Marker.svg">
        <p class="info1-status">{{ info1 }}</p>
    </div>

    <div class="botton-content">
        <p class="subtitle">{{ subtitle }} <span>{{subtitle2}}</span></p>
        <p class="info2">{{ info2 }}</p>
    </div>
    
</div>
