.show-menu-btn {
    position: absolute;
    margin-top: 10%;
    margin-left: -10px;
    display: none;
    width: 35px;
    height: 35px;
    background-color: var(--c-gray-card-border-3);
    border-radius: 0 10px 10px 0;

}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--c-gray-card-border-3);
}

.menu {
    position: absolute;
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    max-width: 100%;

}

div.tittle {
    margin-left: 1vh;
    align-self:flex-start;
    margin-left: 7%;
    font-size: 22px;
    font-family: var(--primary-font);
    color: var(--c-white-primary);
}

.optionsList {
    padding-top: 18%;
    margin-left: 14%;
}

.option {
    padding-bottom: 18%;
    font-size: 20px;
    font-family: var(--primary-font);
    color: var(--c-white-primary);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



@media screen and (max-width: 700px) {
    .show-menu-btn {
        display: flex;
        margin-top: 50%;
        background-color: var(--c-blue-primary);
    }
    
    .box {
        margin-top: calc(max(9vh, 64px) + 1px);
        width: 55vw;
        max-width: 55vw;
        height: calc(100vh - calc(max(9vh, 64px) + 1px));
        background-color: var(--c-blue-primary);
        opacity: 0.95;
    }
    
    .menu {
        margin-top: 36%;
    }
    
    .hide-menu-icon {
        display: flex;
        position: absolute;
        margin-left: 95%;
        margin-top: 13%;
        width: 26px;
        height: 26px;
        background-image: url("../../../assets/icons/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .show-menu-icon {
        display: flex;
        width: 26px;
        height: 26px;
        background-image: url("../../../assets/icons/arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    
    }
}